{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
    {% for area in areas %}
        <h3>{{ area.city }}, {{ area.state }}</h3>
        <ul class="items">
        {% set index = 0 %}
            {% for venue in areas[index].venues %}
                <li>
                    <a href="/venues/{{ venue.id }}">
                        <i class="fas fa-music"></i>
                        <div class="item">
                            <h5>{{ venue.name }}</h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% set index = index + 1 %}
        </ul>
    {% endfor %}
{% endblock %}